<p>
    <label>Home country:</label>
    <%= @programmer.home_country %>
</p>

<p>
    <label>Quote:</label>
    <%= @programmer.quote %>
</p>

<p>
    <label>Claim to fame:</label>
    <%= @programmer.claim_to_fame %>
</p>